body {
  background-color: #808080;
}

#logout {
  float: right;
}

#loginform  {
  display: flex;
  flex-wrap: wrap;
}

#loginform > * {
  flex: 1 1 51%;
}

.active, .inactive {
  border: 2px solid black;
  border-radius: 12px;
  padding: 5px;
  margin-right: 10px;
}

.active {
  background-color: green;
  font-weight: bold;
}

.inactive {
  background-color: red;
  font-weight: normal;
}

.navsection {
  height: 40px;
}

#dogcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dogcard {
  border: 1px solid black;
  text-align: center;
  width: 1000px;
}

.dogpic {
  height: auto;
}

.dogpic img {
  width: 30%;
  height: auto;
}

#randomdog {
  width: 45%;
  height: auto;
}

#reminderlist {
  border: 1px solid black;
}