* {
  margin: 0;
}

body {
  background-color: #808080;
}

#logout {
  float: right;
}

#loginform  {
  background-color: #ADD8E6;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 12px;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

#loginform > * {
  margin: 20px;
  font-size: 50px;
}

#loginform label input {
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin: 20px;
}

#loginform button {
  border-radius: 12px;
}

#logout {
  border: 2px solid #000000;
  border-radius: 12px;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.active, .inactive {
  border: 2px solid #000000;
  border-radius: 12px;
  padding: 5px;
  margin-right: 10px;
}

.active:first-child, .inactive:first-child {
  margin-left: 10px;
}

.active {
  background-color: #00FF00;
  font-weight: bold;
}

.inactive {
  background-color: #ADD8E6;
  font-weight: normal;
}

.navsection {
  margin-top: 15px;
  height: 40px;
}

#dogcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dogcard {
  border: 1px solid #000000;
  text-align: center;
  width: 1000px;
}

.dogpic {
  height: auto;
}

.dogpic img {
  width: 30%;
  height: auto;
}

#randomdog {
  width: 45%;
  height: auto;
}

#reminderlist {
  border: 1px solid #000000;
}