body {
  background-color: #808080;
}

#logout {
  float: right;
}

#loginform {
  border: 2px solid black;
}

.active {
  background-color: green;
  font-weight: bold;
}

.inactive {
  background-color: red;
  font-weight: normal;
}

#dogcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dogcard {
  border: 1px solid black;
  text-align: center;
  width: 1000px;
}

.dogpic {
  height: auto;
}

.dogpic img {
  width: 30%;
  height: auto;
}

#reminderlist {
  border: 1px solid black;
}